<h1>Todo List</h1>

<ul>
    {% for i in all_items %}
    <li>{{i.content}} {% if i.status == True %} <i>(Completed)</i> {% endif %}</li>
    <form action="/deleteTodoItem/{{i.id}}">
        {% csrf_token %}
        <input type="submit" value="Delete">
    </form>
    <form action="/updateTodoItem/{{i.id}}">
        {% csrf_token %}
        <input type="submit" value="Completed">
    </form>
    {% endfor %}
</ul>

<form action="/addTodoItem/" method="post">
    {% csrf_token %}
    <input type="text" name="content">
    <input type="submit" value="Add Item">
</form>