<!DOCTYPE html>
<html lang="en">

    <head>
        <title>Todo List</title>
    </head>

    <body>
        <h1>Todo List</h1>
        <ul>
            {% for item in all_items %}

                <li><a href="/todolistpage/{{item.id}}">{{ item.name }}</a></li>
                <form action="/deletetodolist/{{item.id}}" method="post">
                    {% csrf_token %}
                    <input type="submit" value="Delete Todo">
                </form>

            {% endfor %}

        </ul>

        <form action="/addtodolist/" method="post">
            {% csrf_token %}
            <input type="text" name="todoname">
            <input type="submit" value="Add Todo">
        </form>

    </body>
</html>
