<!DOCTYPE html>
<html lang="en">

    <head>
        <title>Todo List Items</title>
    </head>

    <body>
        <h1>{{todo.name}}</h1>
        <ol>
                {% for listitem in todo_items %}

                    <li>{{listitem.content}} {% if listitem.status == True %} <i>(Completed)</i> {% endif %}</li>

                    <form action="{% url 'deleteitem' i=listitem.id %}">
                        {% csrf_token %}
                        <input type="submit" value="Delete">
                    </form>

                    <form action="{% url 'updateitem' i=listitem.id %}">
                        {% csrf_token %}
                        <input type="submit" value="Completed">
                    </form>
                {% endfor %}

        </ol>

        <form action="{% url 'additem' i=todo.id %}" method="post">
            {% csrf_token %}
            <input type="text" name="content">
            <input type="submit" value="Add Item">
        </form>

        <a href="{% url 'home' %}">Return to Homepage</a>
    </body>

</html>